.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}




.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid black;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
  color: #bba6bb;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
} 



.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  color: burlywood;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-shadow: burlywood;
  text-decoration-style: double;
}

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=EB+Garamond&display=swap');


.body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "EB Garamond", seriff;
  min-height: 100vh;
  background-color: grey;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}
  .container {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 40px 0;
  }

    .card {
      position: relative;
      width: 300px;
      height: 400px;
      margin: 0 auto;
      background: #b29f94;
      border-radius: 15px;
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    }

      .face {
        position: center;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

        .face1 {
          box-sizing: border-box;
          padding: 20px;
            margin: 40;
            padding: 40;
          }

          .java {
            background-color: #eef2f3;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .python {
            background-color: #eef2f3;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .cSharp {
            background-color: #eef2f3;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        

        .face2 {
          transition: 0.5s;
            margin: 0;
            padding: 0;
            font-size: 5em;
            color: #fff;
            transition: 0.5s;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 10;
          }
        

    .card:hover .face.face2 {
      height: 60px;
      font-size: 2em;
      }
    

    .card:nth-child(1) .face.face2 {
      background-image: linear-gradient(
        40deg,
        #F2F2F2 0%,
        #E2E2E2 45%,
        #C9D6FF 100%
      );
      border-radius: 15px;
    }

    .card:nth-child(2) .face.face2 {
      background-image: linear-gradient(
        40deg,
        #F2F2F2 0%,
        #d9a7c7 45%,
        #fffcdc 100%
      );
      border-radius: 15px;
    }

    .card:nth-child(3) .face.face2 {
      background-image: linear-gradient(
        40deg,
        #F2F2F2 0%,
        #eacda3 45%,
        #d6ae7b 100%
      );
      border-radius: 15px;
    }
  

    .footer {
      display: float;
      float: 1;
      padding: 2rem 0;
      border-top: 1px solid black;
      justify-content: center;
      align-items: center;
    }
   

    .footer a {
      display: float;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }
    
   
  
  .html-body {
      height: 100%;
  }
  .wrapper {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
  }
  .footer, .push {
      height: 14px; /* .push must be the same height as .footer */
  }
    


  .container {
    width: 100%;
    background-color: whitesmoke;
    padding: 70px 30px 30px;
    border-radius: 20px;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 27px -3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 27px -3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 27px -3px rgba(0, 0, 0, 0.35);
  }
    
